/*
|--------------------------------------------------
|  Testimonials
|--------------------------------------------------
*/

.testimonials {
  // nav {
  // background-color: #eee !important;
  // padding: 40px;
  min-height: 100px;

  h2 {
    text-align: center;
  }
  --swiper-theme-color: aqua;

  .swiper-container {
    .swiper-pagination {
      // border: 20px solid green;
    }
  }

  .swiper-slide {
    display: flex;
    gap: var(--spacer-1);

    flex-direction: column;
    @media only screen and (min-width: 700px) {
      //bigger than 700px

      flex-direction: row;
    }

    img {
      width: 300px;
      height: 300px;
      object-fit: cover;
    }

    blockquote {
      border-left: 0;
      flex-grow: 1;
      margin-bottom: 0;

      background: rgba(0, 0, 0, 0.2);

      .author {
        font-weight: bold;
        text-align: right;
      }
    }
  }
}
